.section {
  padding: 40px 32px;
  background-color: #121212;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.toggle {
  background: none;
  border: none;
  color: #34c94b;
  font-weight: 600;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
}