
.card {
  width: 100%;
}

.top {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.top img {
  width: 100%;
  height: 205px;
  object-fit: cover;
  display: block;
}

.chip {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: black !important;
  color: white !important;
  font-size: 10px !important;
}

.bottom {
  margin-top: 6px;
}

.bottom p {
  font-size: 14px;
  font-weight: 400;
  color: white;
}