.slider {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.slider > * {
  flex: 0 0 auto;
}

.slider {
  padding: 20px 0;
}
